#canvas{
    margin-top: 2%;
    margin-left: 10%;
}

.nav-item{
    padding-top: 1rem;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 5px;
    border-radius: 1px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
}

.no-display{
    display: none;
}

.love{
    color: rgb(129, 22, 22);
}

.footer-link{
    color: rgb(51, 51, 51) !important;
}

.footer-link:hover{
    color: rgb(129, 22, 22) !important;
}

a:link{
    text-decoration: none;
}

.footer{
    width: 100%;
    margin: 0;   
}

#bitonicText{
    position: absolute;
    font-size: 75%;
}